
{% extends 'core/base.html' %}

{% block title %}Autenticar{% endblock %}
{% block background %}{% load static%}{% static 'core/img/imagen.jpg' %}{% endblock %}
 
{% block content %}
<div class="container">
  <div class="row justify-content-center pt-5 mt-5 mr-1">
    <div class="col-md-6 formulario">
        <form class="row g-4 p-4" method="post">
            <div>
                <h1 style="text-align: center;">Iniciar Sesion</h1>
            </div>
{{form}}
   {% csrf_token %}
   <div class="d-grid gap-2 pb-2 info">
    <input type="submit" value="Ingresar" class="btn btn-sm boton1" />
    <div class="form-group max-sm-4 text-right contr">
      <span><a class="olvide">Olvide mi contraseña</a></span>
    </div>
    <p>¿No tienes una cuenta?<a class="link" href="/registrar/"> <b>Registrarse</b> </a></p>
  </div>
 
</form>
</div>
</div>
</div>
{% endblock %}