{% extends 'core/base.html' %}

{% block title %}Registrar{% endblock %}
{% block background %}{% load static%}{% static 'core/img/imagen.jpg' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="abs-center pt-5 mt-5 mr-1">
        <form class="row g-3  was-validated" method="post">
            <div>
                <h1 style="text-align: center;">Registrarse</h1>
            </div>
    {% csrf_token %}
    {{form}}
    <div class="d-flex justify-content-center" style="padding: 10px;">
        <input type="reset" value="Cancelar" class="btn btn-secondary">
        <input type="submit" value="Guardar" class="btn btn-success">
    </div>
        </form>
    </div>
</div>
{% endblock %}