{% extends 'core/base.html' %}
{% block title %}Registrar Producto{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}

<div class="container">
    <div class="row justify-content-center mt-5 mr-1">
        <div class="formulario col-md-12">
            <form class="row g-3 p-4" method="post">
                <div class="mb-3 row">
                    <h3>Lista de Producto</h3>
                </div>
                <table class="table">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">Codigo Principal</th>
                            <th scope="col">Codigo auxiliar</th>
                            <th scope="col">Tipo de Producto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">IVA</th>
                            <th scope="col">ICE</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for p in productos %}
                    <tr>
                        <td>{{ p.codigo_principal  }}</td>
                        <td>{{ p.codigo_auxiliar }}</td>
                        <td>
                            {% if p.tipo_producto == 1 %}
                            Bien
                            {% else %}
                            Servicio
                            {% endif %}
                        </td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.valor_unitario | intcomma }}</td>
                        <td>
                            {% if p.iva == 1 %}
                            0%
                            {% elif p.iva == 2 %}
                            12%
                            {% elif p.iva == 3 %}
                            14%
                            {% elif p.iva == 4 %}
                            No Objeto de Impuesto
                            {% elif p.iva == 5 %}
                            Exento de IVA
                            {% endif %}
                        </td>
                        <td>{{ p.ice }}</td>
                        <td>
                            <a type="button" class="btn btn-primary " href="{% url 'modificar' p.codigo_principal %}" id="modificar">Modificar</a>
                            <a type="button" class="btn btn-danger" href="{% url 'eliminar' p.codigo_principal %}" id="eliminar">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
                    {% endfor %}
                
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}