{% extends 'core/base.html' %}
{% block title %}Registrar Producto{% endblock %}

{% block background %}{% load static%}{% static 'core/img/base.jpg' %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center pt-5 mt-5 mr-1">
        <div class="col-md-6 formulario">
            <form class="row g-3 p-4 was-validated" method="post">
                <div>
                    <h1 style="text-align: center;">Registrar Producto</h1>
                </div>
                {% csrf_token %}
                {{form | crispy }}
                <div class="d-grid gap-2 pb-2">
                    <input type="submit" class="btn btn-sm boton1" value="Guardar" >
                    <input type="reset" value="Cancelar" class="btn btn-secondary btn-sm boton2" />
                </div>
                      
            </form>
            {{mensaje}}
        </div>
    </div>
</div>

{% endblock %}